# IMPORTAR LOS ARCHIVOS CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
actor= pd.read_csv('/Users/mar/w3-database-project/data/actor.csv')
category= pd.read_csv('/Users/mar/w3-database-project/data/category.csv')
film= pd.read_csv('/Users/mar/w3-database-project/data/film.csv')
inventory= pd.read_csv('/Users/mar/w3-database-project/data/inventory.csv')
language= pd.read_csv('/Users/mar/w3-database-project/data/language.csv')
old_HDD= pd.read_csv('/Users/mar/w3-database-project/data/old_HDD.csv')
rental= pd.read_csv('/Users/mar/w3-database-project/data/rental.csv')   #Al exportar index=False

# Búsqueda y solución de valores nulos

In [3]:
#sin valores nulos= actor, category, language, inventory, old y rental
#film= eliminar original_language_id xq todos nulos.

In [4]:
nan_cols=film.isna().sum()
nan_cols[nan_cols>0]

original_language_id    1000
dtype: int64

In [5]:
film.drop(['original_language_id'],axis=1, inplace=True)
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

# Comprobar tipo de datos y borrar columnas constantes de cada tabla
## De cada tabla se comprueba si corresponde el tipo de dato con el valor que guarda y luego vemos si todos los valores de una columna son iguales y si es así se borra.

In [6]:
''''actor
category
film
inventory
language
old_HDD
rental'''

"'actor\ncategory\nfilm\ninventory\nlanguage\nold_HDD\nrental"

In [7]:
#tabla.head()

In [8]:
#tabla.info()

In [9]:
#tabla.columna.value_counts()

In [11]:
actor.drop(['last_update'],axis=1, inplace=True)

In [14]:
category.drop(['last_update'],axis=1, inplace=True)

In [16]:
film.drop(['last_update','release_year'],axis=1, inplace=True)

In [17]:
inventory.drop(['last_update'],axis=1, inplace=True)

In [18]:
language.drop(['last_update'],axis=1, inplace=True)

In [19]:
old_HDD.drop(['release_year'],axis=1, inplace=True)

In [20]:
rental.drop(['last_update'],axis=1, inplace=True)

# Exportar las tablas limpias a csv

In [21]:
actor.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/actor_clean.csv', index=False)
category.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/category_clean.csv', index=False)
film.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/film_clean.csv', index=False)
inventory.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/inventory_clean.csv', index=False)
language.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/language_clean.csv', index=False)
old_HDD.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/old_HDD_clean.csv', index=False)
rental.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/rental_clean.csv', index=False)

In [22]:
#Importar de nuevo las tablas clean
actor_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/actor_clean.csv')
category_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/category_clean.csv')
film_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/film_clean.csv')
inventory_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/inventory_clean.csv')
language_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/language_clean.csv')
old_HDD_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/old_HDD_clean.csv')
rental_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/rental_clean.csv')

In [23]:
actor_clean.head()

   actor_id first_name     last_name
0         1   PENELOPE       GUINESS
1         2       NICK      WAHLBERG
2         3         ED         CHASE
3         4   JENNIFER         DAVIS
4         5     JOHNNY  LOLLOBRIGIDA

# Exportarlas a SQL
## Hay que activar la conexión, crear una base de datos nueva, conectar a esa base de datos y cargar las tablas limpias.

In [34]:
%pip install sqlalchemy  #si
#%pip install mysqlclient
%pip install pymysql
import pymysql
pymysql.install_as_MySQLdb()
#%pip install mysql-python  #da error
#%pip install mysql-connector-python
#%pip install MySQLdb   #creo que si
#Cual?

Requirement already satisfied: sqlalchemy in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [36]:
%pip install pymysql
import pymysql
pymysql.install_as_MySQLdb()

Requirement already satisfied: pymysql in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [37]:
from sqlalchemy import create_engine

In [38]:
str_conn='mysql://root:password@localhost:3306'    #string de conexion para crear la db

cursor=create_engine(str_conn)

cursor.execute('create database videoclub;')

In [39]:
str_conn='mysql://root:password@localhost:3306/videoclub'    #string conexión para entrar en la db y poder meter tablas

cursor_sql=create_engine(str_conn)

In [40]:
actor_clean.to_sql(name='actor', index=False, con=cursor_sql)  #meter tablas
category_clean.to_sql(name='category', index=False, con=cursor_sql) 
film_clean.to_sql(name='film', index=False, con=cursor_sql) 
inventory_clean.to_sql(name='inventory', index=False, con=cursor_sql) 
language_clean.to_sql(name='language', index=False, con=cursor_sql) 
old_HDD_clean.to_sql(name='old_HDD', index=False, con=cursor_sql) 
rental_clean.to_sql(name='rental_clean', index=False, con=cursor_sql)

1000

In [ ]:
#En sql workbench reverse engenee pa el erd