# IMPORTAR LOS ARCHIVOS CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
actor= pd.read_csv('/Users/mar/w3-database-project/data/actor.csv')
category= pd.read_csv('/Users/mar/w3-database-project/data/category.csv')
film= pd.read_csv('/Users/mar/w3-database-project/data/film.csv')
inventory= pd.read_csv('/Users/mar/w3-database-project/data/inventory.csv')
language= pd.read_csv('/Users/mar/w3-database-project/data/language.csv')
old_HDD= pd.read_csv('/Users/mar/w3-database-project/data/old_HDD.csv')
rental= pd.read_csv('/Users/mar/w3-database-project/data/rental.csv')   #Al exportar index=False

# Búsqueda y solución de valores nulos

In [3]:
#sin valores nulos= actor, category, language, inventory, old y rental
#film= eliminar original_language_id xq todos nulos.

In [4]:
nan_cols=film.isna().sum()
nan_cols[nan_cols>0]

original_language_id    1000
dtype: int64

In [5]:
film.drop(['original_language_id'],axis=1, inplace=True)
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

# Comprobar tipo de datos y borrar columnas constantes de cada tabla
## De cada tabla se comprueba si corresponde el tipo de dato con el valor que guarda y luego vemos si todos los valores de una columna son iguales y si es así se borra.

In [6]:
''''actor
category
film
inventory
language
old_HDD
rental'''

"'actor\ncategory\nfilm\ninventory\nlanguage\nold_HDD\nrental"

In [7]:
#tabla.head()

In [8]:
#tabla.info()

In [9]:
#tabla.columna.value_counts()

In [10]:
actor.drop(['original_language_id'],axis=1, inplace=True)

In [11]:
category.drop(['last_update'],axis=1, inplace=True)

In [12]:
film.drop(['last_update','release_year'],axis=1, inplace=True)

In [13]:
inventory.drop(['last_update'],axis=1, inplace=True)

In [14]:
language.drop(['last_update'],axis=1, inplace=True)

In [15]:
old_HDD.drop(['release_year'],axis=1, inplace=True)

In [16]:
rental.drop(['last_update'],axis=1, inplace=True)

# Exportar las tablas limpias a csv

In [17]:
actor.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/actor_clean.csv', index=False)
category.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/category_clean.csv', index=False)
film.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/film_clean.csv', index=False)
inventory.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/inventory_clean.csv', index=False)
language.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/language_clean.csv', index=False)
old_HDD.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/old_HDD_clean.csv', index=False)
rental.to_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/rental_clean.csv', index=False)

In [ ]:
#Importar de nuevo las tablas clean
actor_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/actor_clean.csv')
category_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/category_clean.csv')
film_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/film_clean.csv')
inventory_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/inventory_clean.csv')
language_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/language_clean.csv')
old_HDD_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/old_HDD_clean.csv')
rental_clean= pd.read_csv('/Users/mar/Proyecto-base-de-datos-Python-SQL/data_clean/rental_clean.csv')

# Exportarlas a SQL
## Hay que activar la conexión, crear una base de datos nueva, conectar a esa base de datos y cargar las tablas limpias.

In [45]:
%pip install sqlalchemy  #si
#%pip install mysqlclient
#%pip install pymysql
#%pip install mysql-python  #da error
#%pip install mysql-connector-python
#Cual?

Requirement already satisfied: sqlalchemy in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/mar/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.
Collecting mysql-python
  Using cached MySQL-python-1.2.5.zip (108 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/mar/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_fb51a7844d6e43bda327e425ec737c7b/setup.py'"'"'; __file__='"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_fb51a7844d6e43bda327e425ec737c7b/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-pip-egg-info-82xupkpk
         cwd: /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_fb51a7844d6e43bda327e425ec737c7b/
    Complete output (7 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_fb51a7844d6e43bda327e425ec737c7b/setup.py", line 13, in <module>
        from setup_posix import get_config
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_fb51a7844d6e43bda327e425ec737c7b/setup_posix.py", line 2, in <module>
        from ConfigParser import SafeConfigParser
    ModuleNotFoundError: No module named 'ConfigParser'
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/a5/e9/51b544da85a36a68debe7a7091f068d802fc515a3a202652828c73453cad/MySQL-python-1.2.5.zip#sha256=811040b647e5d5686f84db415efd697e6250008b112b6909ba77ac059e140c74 (from https://pypi.org/simple/mysql-python/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached MySQL-python-1.2.4.zip (113 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/mar/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/setup.py'"'"'; __file__='"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-pip-egg-info-59fgd5b5
         cwd: /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/
    Complete output (31 lines):
    Downloading http://pypi.python.org/packages/source/d/distribute/distribute-0.6.28.tar.gz
    Traceback (most recent call last):
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/distribute_setup.py", line 143, in use_setuptools
        raise ImportError
    ImportError

    During handling of the above exception, another exception occurred:

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/setup.py", line 7, in <module>
        use_setuptools()
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/distribute_setup.py", line 145, in use_setuptools
        return _do_download(version, download_base, to_dir, download_delay)
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/distribute_setup.py", line 123, in _do_download
        tarball = download_setuptools(version, download_base,
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_83588a10713145dfb20469b3b6ea25cb/distribute_setup.py", line 194, in download_setuptools
        src = urlopen(url)
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 214, in urlopen
        return opener.open(url, data, timeout)
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 523, in open
        response = meth(req, response)
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 632, in http_response
        response = self.parent.error(
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 561, in error
        return self._call_chain(*args)
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 494, in _call_chain
        result = func(*args)
      File "/Users/mar/opt/anaconda3/lib/python3.9/urllib/request.py", line 641, in http_error_default
        raise HTTPError(req.full_url, code, msg, hdrs, fp)
    urllib.error.HTTPError: HTTP Error 403: SSL is required
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/90/5a/ce7bef80825c2188cf507baf57b37516e18dffdb198a6766a597f703059a/MySQL-python-1.2.4.zip#sha256=e405f9d6be33923d428acaa4db4f4470427f1d15ea0d2d82a933449ace26bbd9 (from https://pypi.org/simple/mysql-python/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
  Using cached MySQL-python-1.2.3.tar.gz (70 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/mar/opt/anaconda3/bin/python -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_732d173c0b5341e0804bb2d6e10b98c2/setup.py'"'"'; __file__='"'"'/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_732d173c0b5341e0804bb2d6e10b98c2/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-pip-egg-info-fcg93h4f
         cwd: /private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_732d173c0b5341e0804bb2d6e10b98c2/
    Complete output (8 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_732d173c0b5341e0804bb2d6e10b98c2/setup.py", line 11, in <module>
        from setup_posix import get_config
      File "/private/var/folders/bg/_zqwsn3n223bm28sndqq_c4h0000gn/T/pip-install-uwkqi1gr/mysql-python_732d173c0b5341e0804bb2d6e10b98c2/setup_posix.py", line 101
        print """You shouldn't be running this directly; it is used by setup.py."""
              ^
    SyntaxError: Missing parentheses in call to 'print'. Did you mean print("""You shouldn't be running this directly)?
    ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/9a/81/924d6799494cf7fb24370335c2f782088d6ac4f79e4137d4df94cea3582c/MySQL-python-1.2.3.tar.gz#sha256=7de66fbbf923634e7c965aeaefa74642ba75ae20ee1cefcefc3009595b7a7e6e (from https://pypi.org/simple/mysql-python/). Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
ERROR: Could not find a version that satisfies the requirement mysql-python (from versions: 1.2.3b1, 1.2.3b2, 1.2.3rc1, 1.2.3, 1.2.4b1, 1.2.4b2, 1.2.4b3, 1.2.4b4, 1.2.4b5, 1.2.4rc1, 1.2.4, 1.2.5)
ERROR: No matching distribution found for mysql-python

Note: you may need to restart the kernel to use updated packages.

In [46]:
from sqlalchemy import create_engine

In [48]:
str_conn='mysql://root:password@localhost:3306'    #string de conexion para crear la db

cursor=create_engine(str_conn)

cursor.execute('create database videoclub;')

In [50]:
str_conn='mysql://root:password@localhost:3306/videoclub'    #string conexión para entrar en la db y poder meter tablas

cursor_sql=create_engine(str_conn)

In [51]:
actor_clean.to_sql(name='actor', index=False, con=cursor_sql)  #meter tablas
category_clean.to_sql(name='category', index=False, con=cursor_sql) 
film_clean.to_sql(name='film', index=False, con=cursor_sql) 
inventory_clean.to_sql(name='inventory', index=False, con=cursor_sql) 
language_clean.to_sql(name='language', index=False, con=cursor_sql) 
old_HDD_clean.to_sql(name='old_HDD', index=False, con=cursor_sql) 
rental_clean.to_sql(name='rental_clean', index=False, con=cursor_sql)

1000